<!doctype html>
<html ng-app="">
<head lang="en">
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="style/foundation.min.css">
<script src="angular.js"></script>
<script type="text/javascript">
	var app={
		model:"hello"
	}
</script>
</head>

<body style="padding:10px; ">
	<fieldset>
		<legend>第一个例子：</legend>
		<b>计算：</b>
		<br>
		<br>
		<table>
			<tr>
				<td>单价：（美元）</td>
				<td>数量：</td>
			</tr>
			<tr>
				<td><input type="number" ng-model="qty" required></td>
				<td><input type="number" ng-model="cost" required></td>
			</tr>
		</table>
		<b>金额：</b> {{qty * cost | currency}}
	</fieldset>
	<fieldset>
		<b>改变model来控制dom:</b>
		<br>
		<br>
		<legend>第二个例子</legend>
		<input type="text" ng-model="data.msg">
		<div class="{{data.msg}}">我是{{data.msg}}</div>
	</fieldset>
</body>
</html>
