<!doctype html>
<html>
<head lang="en">
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="style/foundation.min.css">
<script src="angular.js"></script>
<script src="js/service的应用.js"></script>
</head>

<body style="padding:10px; " ng-app="app">
	<div ng-controller="FCtrl">
		<input type="text" ng-model="data.msg" name="">
		<h2>{{data.msg}}</h2>
	</div>
	<div ng-controller="SCtrl">
		<input type="text" ng-model="data.msg" name="">
		<h2>{{data.msg}}</h2>
	</div>
</body>
</html>
