<!DOCTYPE html>
<html lang="en" ng-app="test">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="angular.js"></script>
	<style type="text/css">
		#div1 input{background-color: #ccc;}
		#div1 input.active{background-color: yellow; }
		#div1 div{width: 300px; height: 300px; background-color: #ccc;  border: 1px solid black; }
	</style>
	<script type="text/javascript">
		var app=angular.module("test",[]);
		app.controller("cont1",function($scope){
			$scope.now=0;
			$scope.arr=[
				{name:'电视',content:'1111111'},
				{name:'音乐',content:'2222222'},
				{name:'体育',content:'3333333'}
			]

		})
	</script>
</head>
<body>
	<div id="div1" ng-controller="cont1">
		<input title="{{index}}" ng-repeat="(index,json) in arr" value="{{json.name}}" type="button">
		<div ng-repeat="json in arr">{{json.content}}</div>
	</div>
</body>
</html>